* {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }

header {
    position: absolute;
    height:104px;
    width: 1024px;
}

.bardiscount {
    position: absolute;
    height: 38px;
    padding: 10px;
    background: #1CD1B0;
}

.bardiscount-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    height:18px;
}

.heroes{
    position: absolute;
    height: 66px;
    padding-left: 28px;
    top: 38px;
    background-color: #00669F;
}

.heroes-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 66px;
}

main {
    position: absolute;
    width: 1024px;
    height: 530px;
    top:292px;
    font-size: 90px;
    padding-left:32px;
    padding-right:32px;
}

.card {
    position: relative;
    height: 529px;
    width: 300px;
    background-color: #f3f3f3;
    display: inline-block;
}

.card-background {
    width: 300px;
}
.card-image {
    width: 300px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-favorite {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 21px;
    top: 16px;
    z-index: 10;
}

.card-face {
    position: relative;
    width: 120px;
    top:-90px;
    left:90px;
    z-index: 10;
    border-radius: 50%;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    top:-105px;
    text-align: center;
}
.card-text {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 16px;
    top:-105px;
    padding:16px;
}
.card-button {
    position: relative;
    width: 129px;
    height: 49px;
    top:-105px;
    background:#00669F;
    text-align: center;
    line-height: 49px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}

footer {
    position: absolute;
    height:51px;
    line-height: 51px;
    width: 1024px;
    top: 988px;
    padding-left:16px;
    background-color: #00669F;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}