* {
    box-sizing: border-box;
    margin: 0%;
}

html {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
    min-height: 1024px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-family: Roboto;
}

.bardiscount {
    padding: 10px;
    background: #1CD1B0;
}

.bardiscount p {
    font-size: 15px;
}

.heroes{
    display: flex;
    padding: 28px;
    background-color: #00669F;
    box-shadow:#f3f3f3;
}

h1{
    font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px 0;
    
}

.card {
    position:relative;
    max-height: 529px;
    max-width: 300px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.card-image {
    height: 200px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    object-fit: cover;
}

i{
    font-size: 24px;
    color: red;
    position: absolute;
    left: 21px;
    top: 16px;
}

.card-face {
    position: absolute;
    width: 125px;
    z-index: 10;
    border-radius: 50%;
    top: 130px;
}

.card h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
}

.card p {
    font-size: 16px;
    padding:16px;
}

.card-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 129px;
    height: 49px;
    margin: 2vh 0vh 1vh 0vh;
    background:#00669F;
    align-items: center;
    font-size:15px;
    color: #FFFFFF;
}

footer {
    display: flex;
    align-items: center;
    height:51px;
    padding-left:16px;
    background-color: #00669F;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}